body {
  font-family: sans-serif;
  background: #f5f5f5;
  padding: 10px;
}

.box, .post {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.title {
  font-weight: bold;
}

.name {
  color: #555;
}

.comment {
  background: lightyellow;
  padding: 5px;
}
